/* style.css */
body {
  margin: 0;
  font-family: "Prata", system-ui;
  font-weight: normal;
}

.container {
  display: flex;
  height: 100vh;
}
.sidebar {
  flex: 1;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,28,71,1) 50%, rgba(1,84,160,1) 100%); /* Gradiente Linear */
  padding: 20px;
  box-sizing: border-box;
  border-right: 2px solid #fff;
}
.sidebar:last-child {
  border-right: none;
}
.sidebar:hover{
  background-color: #444;
}
h1 {
  font-weight: normal;
  text-align: center;
}
